#logotipo {
    height: 80px;
    filter: drop-shadow(0px 5px 20px rgba(255, 255, 255, 0.799));
}

.ppal{
    background-color: none;
    /* background: linear-gradient(180deg, rgba(255,0,0,0.8701855742296919) 28%, rgba(15,15,15,1) 53%, rgba(255,0,0,1) 82%); */
    /* background: rgb(252,69,69);
    background: linear-gradient(0deg, rgba(252,69,69,0.8701855742296919) 28%, rgba(255,255,255,1) 53%, rgba(255,0,0,1) 82%); */
    background-image: url('../img/camu.jpg');
    opacity: 0.9;
    animation: moveBackground 120s infinite linear;
    box-shadow: 0px 0px 30px 0px rgb(255, 0, 0);
}


@keyframes moveBackground {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 0 100%;
    }
    100% {
      background-position: 0 0;
    }
  }

.navppl{
    text-decoration: none;
    color: aliceblue    ;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navppl:hover{  
    transition: 0.5s;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.452);
}

.navppl2{
    text-decoration: none;
    color: rgb(0, 0, 0)    ;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navppl2:hover{
    text-decoration: underline;
}


.navppl:nth-child(2) {
    display: none;
}

.navppl:nth-child(3) {
    display: none;
}

.navppl2:nth-child(2) {
    display: none;
}

.navppl2:nth-child(3) {
    display: none;
}

.navppl:nth-child(5) {
    display: none;
}

.navppl2:nth-child(5) {
    display: none;
}

.menuderecha {
    text-decoration: none;
    color: rgb(0, 0, 0)    ;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: red !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer; */
}


.css-1wlk0hk-MuiAvatar-root {
    height: 80px !important;
    width: 80px !important;
}
.css-1pqm26d-MuiAvatar-img {
    height: 50px !important;
}