#logotipo {
    height: 80px;
}

.ppal{
    background-color: none;
    /* background: linear-gradient(180deg, rgba(255,0,0,0.8701855742296919) 28%, rgba(15,15,15,1) 53%, rgba(255,0,0,1) 82%); */
    /* background: rgb(252,69,69);
    background: linear-gradient(0deg, rgba(252,69,69,0.8701855742296919) 28%, rgba(255,255,255,1) 53%, rgba(255,0,0,1) 82%); */
    background-image: url('../img/camu.jpg');
    opacity: 0.9;
}

.navppl{
    text-decoration: none;
    color: aliceblue    ;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navppl:hover{  
    color: rgba(255, 255, 255, 0.862);
    transition: 0.5s;
    clip-path: polygon(12% 0, 100% 0, 88% 100%, 0% 100%);
    background-color: rgba(255, 255, 255, 0.374);
}

.navppl2{
    text-decoration: none;
    color: rgb(0, 0, 0)    ;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navppl2:hover{
    text-decoration: underline;
}

.setting {
    background-color: aqua;
}

.handleCloseUserMenu {
    background-color: aqua;
}